body {
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: darkgray;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
    /* border-radius: 10px; */
    border-bottom: 3px black solid;
}

.Photo_Left {
    display: grid;
    grid-template-rows: 50% 50%;
    border-right: 3px black solid;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Photo_Left h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Photo_Left div {
    margin: 0 5px 0 5px;
}

.Photo_View {
    display: grid;
    grid-template-columns: 45% 55%;
    border: 3px black solid;
    border-radius: 15px;
    height: 450px;
    width: 600px;
    margin: 10px auto 10px auto;
    overflow: hidden;
    background-size: cover;
}

.Photo_Div {
    background-image: URL();
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    background-color: white;
}

.Gallery_Main {
    display: grid;
    grid-template-rows: 20% 80%;
    height: 300px;
}

.Gallery_Header {
    background-color: darkgray;
    margin: 0 20% 10px 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 3px black solid;
}

.Gallery_Photos {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

.Gallery_Photos img {
    margin: 5px 10px 5px 10px;
    border: 3px black solid;
    border-radius: 5px;

}

#Photo_Alt_Text {
    background-color: white;
    text-decoration: white;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px solid black;
    border-radius: 5px;
}

